<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza</title>

    
    <link rel="stylesheet" href="asset/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="asset/css/header.css">

    <link rel="stylesheet" href="asset/css/meal.css">
    <link rel="stylesheet" href="asset/css/global.css">
    <link rel="shortcut icon" href="asset/img/logo.png" type="image/png">

    <script src="asset/js/font_awesome.js"></script>
    <script src="asset/js/global.js" defer></script>
</head>
<body>
    <nav>
        <div class="container-fluid logo-menu-container">
            <a href="index.html" class="logo">
                <img src="asset/img/logopizzas.png" alt="" srcset="">
            </a>
    
            <div class="row align-items-center justify-content-end">
                <div class="col-3 d-flex justify-content-end">
                    <div class="menu-container">
                        <div class="menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
    
                </div>
                <div class="col-9 nav-container">
                    <div class="top-section">
                        <div class="search-container">
                            <form action="" method="post">
                                <input type="text">
                            </form>
                            <span><i class="fas fa-search"></i></span>
                        </div>
                        <ul class="social-media">
                            <li><span><i class="fab fa-facebook-f"></i></span></li>
                            <li><span><i class="fab fa-twitter"></i></span></li>
                            <li><span><i class=" fab fa-instagram"></i></span></li>
                        </ul>
                        <div class="cartBtn-div">
                            <img src="asset/img/cart.png" alt="" srcset="" class="cartBtn">
                            <span class="amount">0</span>
                        </div>
                    </div>
                    <div class="links-contianer">
                        <ul class="links">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="order.html">Order Online</a></li>
                            <li><a href="menu.html">Menu</a></li>
                            <li><a href="store.html">Store</a></li>
                            <li><a href="about.html">About us</a></li>
                        </ul>
                    </div>
    
    
                </div>
            </div>
            <div class="cart">
                <div class="d-flex justify-content-between py-2">
                    <span class="clearbtn">CLEAR CART</span>
                    <img src="asset/img/cancel.png" alt="" srcset="" width="20px" height="20px">
                </div>
                <p class="py-2">Your cart is empty</p> 
                <div class="d-flex justify-content-between py-2">
                  <span>Total</span>
                  <span>Php 0.00</span>      
                </div>
                <a href="#">CHECKOUT</a>
            </div>
        </div>
    </nav>

    <main>
        


    </main>




    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 column">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Branches</a></li>
                        <li><a href="">Employment</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Online Ordering Help</a></li>
                        <li><a href="">Join our club Email</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 col-lg-4 column">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href="">Feedbacks</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms and Condition</a></li>
                        <li><a href="">FQA</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 col-lg-4 column">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Branches</a></li>
                        <li><a href="">Employment</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Online Ordering Help</a></li>
                        <li><a href="">Join our club Email</a></li>
                    </ul>
                </div>
            </div>
            <p class="copyright">Copyright © 2021 Chris Pizza <sup>&reg;</sup> | Disclamer: This website is for educational purposes only. Contents are owned by respective creditors.</p>
        </div>
    </footer>


    <div class="sidenav">
        <div class="closebtn">
            <img src="asset/img/closebtn.png" alt="" srcset="">
        </div>
        <div class="container">
            <ul>
                <li><a href="order.html">Order Online</a></li>
                <li><a href="order.html">Menu</a></li>
                <li><a href="store.html">Store</a></li>
                <li><a href="about.html">About Us</a></li>
            </ul>
        </div>
    </div>

    
    <script src="asset/js/jquery.min.js"></script>
    <script src="asset/js/slick.js"></script>
    <script src="asset/js/font_awesome.js"></script>
</body>
</html>


