  




figure {
    width: 420px;
    height: 420px;
}


figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    
}

@media screen and (max-width: 576px) {
    figure {
        width: 100%;
        height: 400px;
    }
    
}



main {
    margin-top: 30px;
}

.input-text {
    width: 100% !important;
    color: #202020;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.01em;
    border: 1px solid #E7E7E7;
    padding: 15px 16px;
    border-radius: 4px;
    font-family: "Circular Std", sans-serif;
    font-weight: 300;
    height: 48px;
    position: relative;
    z-index: 3;
    background-color: transparent;
}

label {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    width: 100%;
    display: block;
    color: #202020;
    margin-bottom: 13.5px;
}

span.title {
    font-family: sans-serif;
    color: #202020;
    font-size: 20px;
    line-height: 25px;
    display: block;
    padding-left: 0;
    margin-bottom: 24px;
}

form ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    /* opacity: 0; */
    /* visibility: hidden; */
    border: 1px solid #D9D9D6;
    background-color: rgb(255, 255, 255);
    width: 100%;
    top: calc(100% - 1px);
    position: absolute;
    border-radius: 0 0 4px 4px;
    max-height: 514px;
    overflow: auto;
    scroll-margin: 50px 0 0 50px;
    z-index: 5;
   
    list-style: none;
}

form ul li{
    padding: 15px 16px;
    border-bottom: 1px solid #D9D9D6;
}
form ul li:last-child{
    border: none;
}

form ul span{
   margin-bottom: 0;
}

form h5 {
    font-family: sans-serif;
}