.order-here ul a{
    color: #fff;
    text-decoration: none;
}

.catergory {
    background-color: #202020;
    color: #fff;
    font-family: opensans;
    padding: 0 !important;
}

.order-here ul li{
    list-style: none;
    padding: 10px 15px;
}

.flex-item {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    align-content: flex-start;
}
   


.menu-content {
    min-height: 768px;
}

.active {
    background: rgb(134, 134, 134);
    color: #111;
}


.item {
    border: 1px solid #eee;
    border-radius: 6px;
    height: 374px;
    margin-bottom: 10px !important;
    max-width:250px;
    width:100%;
    margin: 0 5px;
    padding: 10px;
}





* {
    box-sizing: border-box;
}

.views-field-price__number {
    font-family: 'Futura Medium',Calibri,Helvetica,sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #27251F;
}



.product-list-title {
    /* width: 70%; */
    display: block;
    /* height: 20px; */
    /* background: rgb(245, 245, 245); */
    /* margin: 0 auto; */
    border-radius: 6px;
    text-align: center;
}

.product-list-title a{
    font-family: sans-serif;
    text-decoration: none;
    color: coral;
    font-size: 17px;
}

.views-field-body p {
    font-family: sans-serif;
    color: rgb(48, 48, 48);
    font-size: 14px;
    text-align: center;
    line-height: 1.5em;
}



.views-product-grid .views-field-body {
    height: 130px;
}
.views-custom-grid .views-col .left-aligned, .views-product-grid .views-field-body {
    font-size: 0.95em;
    text-align: left;
    padding: 25px 10px 10px 10px;
    max-width: 255px;
    width: 100%;
    margin: 10px auto 10px auto;
    height: 130px;
}

.b {
    border: 1px solid#111;
}


.sidenav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(39, 39, 39, 0.938);
    z-index: 10;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .closebtn {
    background-color: #7a7a1d;
    width: 50px;
    border-radius: 4px;
    padding: 5px 0;
    margin: 15px;
  }
  
  .closebtn img {
    width: 40px;
    display: block;
    margin: 0 auto;
  }
  
  .shownav {
    top: 0;
  }


  .pre-loader {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.795);
      display: none;
  }

  .pre-loader img{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%, -30%);
    z-index: 4;
}

@media screen and (max-width:576px){
    .menu-content {
        min-height: 668px;
    }
    .flex-item {
        margin-top: 20px;
        justify-content: space-around;
    }
    .item {
       width: 155px;
       padding: 5px;
       height: 324px;
    }

    .media--image img {
        width: 100%;
        height: 170px;
        -o-object-fit: contain;
        object-fit: contain;
    }

    .views-field-price__number span {
        font-size: 16px;
    }

    .product-list-title a{
        font-size: 16px;
    }

    .catergory {
        overflow: scroll;
    }

    .catergory::-webkit-scrollbar {
        display: none;
    }
    .order {
        display: none;
    }
    .order-here ul {
        width: 600px;
        overflow: hidden;
        margin-left: 100px;
    }

    .order-here ul li{
        float: left;
        margin-right: 10px;
    }

    .order-here ul li a{
        font-size: 14px;
    }

    .catergory ul li {
        padding: 8px;
        list-style: none;
    }

    .fa-chevron-right {
        display: none;
    }

    .pre-loader img{
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%, -15%);
        z-index: 4;
    }
}


