
main {

    padding-top: 65px !important;
    padding-bottom: 30px !important;
}

.cart-body {
    position: relative;
}

.empty-cart {
    padding: 50px 0;
    text-align: center;
}

.pre-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.507);
    z-index: 3;
    display: none;
}

.pre-loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart-items {
    padding: 12px 0;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin: 20px 0;
}

.cart-items a, .cart-items span{  
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    padding-bottom: 4px;
}
.cart-items span {
    font-size: 12px;
}

.added-item-details {
    margin-left: 15px;
}


@media screen and (max-width: 576px) {
    main {
        padding-top: 40px !important;
    }
    .cart-items a {
        font-size: 14px;
    }
    .cart-items .pic {
        width: 80px !important;
    }
    .added-item-details {
        margin-left: 10px;
    }
}




.checkout {
    padding: 12.5px;
    width: 100%;
    background-color: #F5B335;
    text-decoration: none;
    color: #111;
    display: block;
    font-family: "Circular Std", sans-serif;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    border: 0;
    position: relative;
}

.shop {
    color: red;
    display: block;
    padding: 10px 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 4px;
    text-align: center;
}


.cart-footer form input[type="text"] {
    width: 100% !important;
    color: #363636;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: -0.01em;
    border: 1px solid #E7E7E7;
    padding: 15px 16px;
    border-radius: 4px;
    font-family: "Circular Std", sans-serif;
    font-weight: 300;
    height: 48px;
    position: relative;
    z-index: 3;
    background-color: transparent;
    cursor: default;
    outline: 0;
    margin-bottom: 13.5px;
}


.cart-footer form button {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 10px;
    display: block;
    color: #fff;
    margin-bottom: 13.5px;
    text-align: center;
    background:#303030 ;
    display: inline-block;
    padding: 15px 10px;
    border: 0;
    width: 100%;
} 

p {
    padding: 0.7em 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 16px;
}
