* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  src: url("../fonts/OpenSans-Regular.ttf");
  font-family: opensans;
}

@font-face {
  src: url("../fonts/NotoSans-Regular.ttf");
  font-family: NotoSans;
}
nav {
  background-color: #242424;
  /* background-image: url("../img/bgcolor.jpg"); */
  max-width: 1420px;
  margin: 0 auto;
  
}


nav .links-contianer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 10px;
}

nav ul.links {
  list-style: none;
}

nav ul.links::after {
  content: "";
  display: block;
  clear: both;
}

nav ul.links li {
  float: left;
  margin-right: 25px;
}

nav ul.links li a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 800;
  color: #cccc85;
  font-family: opensans;
}

nav ul.links li a:hover {
  color: #999966;
}

.logo {
  position: absolute;
  z-index: 7;
  top: 0;
}

.logo img {
  width: 80px;
}

@media screen and (min-width: 576px) {
  .logo img {
    width: 118px;
  }
}

@media screen and (min-width: 768px) {
  .logo img {
    width: 120px;
  }
}

.logo-menu-container {
  padding: 5px 15px;
  position: relative;
}

@media screen and (min-width: 576px) {
  .logo-menu-container {
    padding: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .logo-menu-container {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu {
  background-color: #afaf35;
  width: 50px;
  border-radius: 4px;
  padding: 5px 0;
}

.menu span {
  background-color: #fff;
  display: block;
  width: 80%;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  height: 5px;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .nav-container {
    display: none;
  }
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.social-media {
  margin-left: 20px;
}

.social-media li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.social-media li span {
  width: 30px;
  height: 30px;
  background-color: #996600;
  display: block;
  text-align: center;
  line-height: 31px;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 4px;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-container form input {
  max-width: 0;
  display: block;
  /* padding: 10px 15px; */
  border: none;
  outline: none;
  border-radius: 4px;
  transition: width 0.3s ease;
}

.search-container form input.active {
  max-width: 100%;
  display: block;
  padding: 10px;
  background: #fff;
}

.search-container form input:focus {
  outline: 2px solid #996600;
}

.search-container span {
  color: #c3c3c3;
  font-size: 1.3rem;
  margin-left: 10px;
}

footer {
  background-image: url("../img/footer.jpg");
  background-size: 100%;
  padding: 20px 0px;
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
}

footer .column {
  border-bottom: 1px dotted #686868;
  border-right: none;


}


footer .column:nth-child(2) {
  border-bottom: none;
 
}

footer .column:nth-child(3) {
  border-right: none;

}
@media screen and (max-width:576px){
footer .column:nth-child(3) {
  border-right: none;
  display: none;
}
}
@media screen and (min-width: 576px) {
  footer .column {
    border-right: 1px dotted #686868;
    border-bottom: none;
  }
}

footer h3 {
  font-family: opensans;
  color: #a9a8a8;
  margin-bottom: 5px;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  color: #c9c9c9;
  text-decoration: none;
  font-family: NotoSans;
  padding: 5px;
  display: block;
  font-size: 14px;
}

footer p {
  font-family: opensans;
  color: #c2c2c2;
  font-size: 13px;
}

footer .copyright {
  text-align: center;
}

footer label,
footer input {
  display: block;
  margin-bottom: 5px;
}

footer input {
  padding: 8px 10px;
  width: 100%;
  border-radius: 5px;
  outline: 0;
  border-style: solid;
  border-color: #eee;
}

footer input[type="submit"] {
  padding: 8px 10px;
  text-transform: uppercase;
  background-color: #45cece;
  color: #fff;
  font-weight: bold;
  border: none;
  outline: none;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.685);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.685);
}

footer label {
  color: #c9c9c9;
  font-family: NotoSans;
  font-size: 14px;
}

.people-favorite {
  background-color: #7a7a1d;
  text-align: center;
  padding: 30px 0;
}



